{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}
{% block body %}
	<section class="bg-primary">
		<div class="title text-center py-5">
			<h2 class="bg-white border border-3 border-dark rounded rounded-3 px-2 d-inline">Communauté</h2>
		</div>
		<div class="container bg-warning">
			<div class="card text-center">
				<div class="card-header"></div>
				<div class="card-body"></div>
			</div>
		</div>
	</section>
{% endblock %}
