{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}
{% block header %}
	<header class="header">
		<div class="triangle-container">
			<img id="logoAccueil" src="{{ asset('images/logo_nautika.png') }}">
		</div>

		<div id="fondAccueilContainer">
			<img id="fondAccueil" src="{{ asset('images/fond-accueil.jpg') }}">
		</div>
	</header>
{% endblock %}
{% block body %}
	<main>
		<section class="home">
			<div id="home">
				<h1>Home</h1>
			</div>
		</section>

		<section class="about">
			<div id="about">
				<h1>About</h1>
			</div>
		</section>

		<section class="portfolio">
			<div id="portfolio">
				<h1>Portfolio</h1>
			</div>
		</section>

		<section class="contact">
			<div id="contact">
				<h1>Contact</h1>
			</div>
		</section>
		
	</main>

	<footer class="footer">
		<h1>Footer</h1>
	</footer>
{% endblock %}
